@media (min-width:769px)
{
   #main-doc{
   color:#14ad52;
   filter:contrast(70%);
   }
}
#navbar{
   display:flex;
   flex-direction:column;
}
nav a{
   color:red;
}
html,body{
   font-family: 'Courier New', Courier, monospace;
   background-color:#f0f8ff;
   color:#333;
   line-height:1.6;
   margin:0;
   padding:0;
}
